ol.breadcrumb {
    background: transparent;
    padding: 1rem 0;
    font-weight: 300;

    li.breadcrumb-item {
        color: var(--primary-color);
        font-size: 0.8rem;

        a {
            text-decoration: underline;

            &:hover {
                color: var(--primary-color);
                text-decoration: none;
            }
        }
        &.active {
            color: var(--text-dark);
            font-weight: 800;
        }
    }
}
